---
import { type CollectionEntry, getCollection } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import MarkdownContent from "../../components/MarkdownContent.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
const toDate = (dateString: Date) => {
  const date = new Date(dateString);
  return date.toLocaleDateString("en-GB", {
    day: "numeric",
    month: "short",
    year: "numeric",
  });
};
---

<DefaultLayout {...post.data}>
  <div class="mx-auto max-w-3xl px-4 pt-20">
    <div class="py-10 pb-6">
      <h2 class="text-3xl font-bold">{post.data.title}</h2>
      <p class="mt-2">
        <span class="bg-green-200 text-green-800 text-sm p-1 rounded-md"
          >{post.data.tags?.map((tag) => `#${tag}`).join(", ")}</span
        > | {toDate(post.data.publishedDate)}
      </p>
    </div>
    <hr />
    <br />
    <MarkdownContent content={Content} />
  </div>
</DefaultLayout>
