---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import MarkdownContent from "../components/MarkdownContent.astro";
import { getEntry } from "astro:content";

const aboutMd = await getEntry("markDown", "about-me");
const { Content: AboutContent } = await aboutMd.render();
---

<DefaultLayout>
  <div class="mx-auto max-w-3xl pt-20">
    <div class="py-10 pb-6">
      <h2 class="text-3xl font-bold">Suraj Air</h2>
    </div>
    <hr />
    <br />
    <MarkdownContent content={AboutContent} />
  </div>
</DefaultLayout>
