---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="fixed top-0 border-t md:bottom-auto md:top-0 w-full z-20 border-b bg-white">
  <nav class="max-w-6xl py-4 mx-auto w-full layout flex items-center justify-between">
    <a
      class="hover:text-slate-900 hover:dark:text-blue-200 px-5 underline-offset-2 font-semibold transition-all hover:scale-105"
      href="/">
      {SITE_TITLE}
    </a>
    <ul class="flex items-center justify-between space-x-3 text-xs md:space-x-4 md:text-base">
      <li>
        <a
          class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3 capitalize"
          href="/about">
          About Me
        </a>
      </li>
      <li>
        <a
          class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3 capitalize"
          href="/#posts">
          posts
        </a>
      </li>
      <li>
        <a
          class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3 capitalize"
          href="/#projects">
          projects
        </a>
      </li>
    </ul>
  </nav>
</header>
